<header>
    <h2 class="header-title">VidStream</h2>
    <ul>
        <a href="/"><li class="nav-link click-feedback" id="nav-home">Home</li></a>
        <a href="/videos"><li class="nav-link click-feedback" id="nav-videos">Videos</li></a>
    </ul>
</header>
<script src="/public/scripts/header.js"></script>